# DataSet Airbnb #

### Installation des bibliothèques nécessaires ###

In [1]:
#pip install scipy
#pip install scikit-learn
#pip install seaborn

In [2]:
import pandas as pd
import numpy as np

In [3]:
# DataFrame.iloc[]

In [4]:
paris_listings = pd.read_csv('paris_airbnb.csv')
paris_listings.iloc[0]

host_response_rate                 100%
host_acceptance_rate                NaN
host_listings_count                 1.0
latitude                       48.83349
longitude                       2.31852
city                              Paris
zipcode                           75014
state                     Île-de-France
accommodates                          2
room_type               Entire home/apt
bedrooms                            0.0
bathrooms                           1.0
beds                                0.0
price                            $75.00
cleaning_fee                     $50.00
security_deposit                  $0.00
minimum_nights                        3
maximum_nights                       15
number_of_reviews                     8
Name: 0, dtype: object

### Distance Euclidienne ###

In [5]:
# numpy.abs()

In [6]:
our_acc_value = 3 #variable pour le nb de personne que peut accueillir notre logement

first_living_space_value = paris_listings.iloc[0]['accommodates'] #on prend la première ligne et la valeur de la colonne accomodates

first_distance = np.abs(first_living_space_value - our_acc_value) #methode .abs de numpy - Calculate the absolute value element-wise
print(first_distance)

1

### Calculer la distance pour toutes les observations ###

In [7]:
# df['accommodates'].apply(lambda x: x + 2) #methode lambda pour assigner +2 à chaque valeur de x

In [8]:
new_listing = 3
paris_listings['distance'] = paris_listings['accommodates'].apply(lambda x: np.abs(x - new_listing)) #on créé une nouvelle colonne distance avec la formule
print(paris_listings['distance'].value_counts()) #.value_counts() Return a Series containing counts of unique values

distance
1     5665
0      878
2      726
3      508
4       88
5       82
6       18
7       14
9        8
11       4
8        4
13       3
10       2
Name: count, dtype: int64

In [9]:
print(paris_listings['distance'])

0       1
1       1
2       1
3       0
4       1
       ..
7995    1
7996    1
7997    1
7998    1
7999    3
Name: distance, Length: 8000, dtype: int64

### Randomisation et triage ###

In [10]:
paris_listings[paris_listings['distance'] == 0]['accommodates']

3       3
7       3
13      3
14      3
18      3
       ..
7907    3
7938    3
7948    3
7958    3
7989    3
Name: accommodates, Length: 878, dtype: int64

In [11]:
# np.random.permutation(len(paris_listings))

In [12]:
np.random.seed(1)
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))] #on randomise l'ensemble des données
paris_listings = paris_listings.sort_values('distance') #on tri sur la colonne distance
paris_listings.iloc[0:10]['price'] #on affiche les 10 premières valeurs de la colonne price

1956     $80.00
3735     $67.00
6944     $36.00
2094    $120.00
2968     $60.00
845     $200.00
6083     $95.00
5970     $95.00
2992     $76.00
3179    $100.00
Name: price, dtype: object

### Prix moyen ###

In [13]:
# mean() fonction pour calculer la moyenne

In [14]:
stripped_commas = paris_listings['price'].str.replace(',', '') #ici on remplace les , par rien
stripped_dollars = stripped_commas.str.replace('$', '') #ici on remplace les $ par rien
paris_listings['price'] = stripped_dollars.astype('float') #on transforme le type de la colonne price en Float
mean_price = paris_listings.iloc[0:5]['price'].mean() #on calcule la moyenne des prix sur les 5 premières colonnes
print(mean_price)

72.6

### Fonction pour faire des prédictions ###

In [15]:
def predict_price(new_listing):
    temp_df = paris_listings.copy()
    # Compléter la fonction.
    return(predicted_price)

In [16]:
import numpy as np
import pandas as pd
np.random.seed(1)

paris_listings = pd.read_csv('paris_airbnb.csv')
stripped_commas = paris_listings['price'].str.replace(',', '') #ici on remplace les , par rien
stripped_dollars = stripped_commas.str.replace('$', '') #ici on remplace les $ par rien
paris_listings['price'] = stripped_dollars.astype('float') #on transforme le type de la colonne price en Float
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))] #on randomise l'ensemble des données

def predict_price(new_listing): #on définie la fonction predict_price
    temp_df = paris_listings.copy() #on copie le dataset dans une nouvelle variable
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x - new_listing)) #on créé une nouvelle colonne distance avec la formule
    temp_df = temp_df.sort_values('distance') #on tri sur la colonne distance
    nearest_neighbors = temp_df.iloc[0:5]['price'] #on assigne à la variable nearest_neighbors les 5 premières valeurs
    predicted_price = nearest_neighbors.mean() #on assigne à la variable predicted_price la moyenne
    return(predicted_price)

acc_one = predict_price(1) #la prévision avec 1 chambre
acc_two = predict_price(2) #la prévision avec 2 chambres
acc_four = predict_price(4) #la prévision avec 3 chambres

print(acc_one)
print(acc_two)
print(acc_four)

69.6
105.4
104.6

### Evaluer la performance du modèle ###

In [17]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None
np.random.seed(1)

paris_listings = pd.read_csv('paris_airbnb.csv')
stripped_commas = paris_listings['price'].str.replace(',', '') #ici on remplace les , par rien
stripped_dollars = stripped_commas.str.replace('$', '') #ici on remplace les $ par rien
paris_listings['price'] = stripped_dollars.astype('float') #on transforme le type de la colonne price en Float
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))] #on randomise l'ensemble des données
train_df = paris_listings.iloc[0:6000] #on divise le dataset en 2
test_df = paris_listings.iloc[6000:] #on divise le dataset en 2

def predict_price(new_listing): #on définie la fonction predict_price
    temp_df = train_df.copy() #on copie le dataset dans une nouvelle variable
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x - new_listing)) #on créé une nouvelle colonne distance avec la formule
    temp_df = temp_df.sort_values('distance') #on tri sur la colonne distance
    nearest_neighbors = temp_df.iloc[0:5]['price'] #on assigne à la variable nearest_neighbors les 5 premières valeurs
    predicted_price = nearest_neighbors.mean() #on assigne à la variable predicted_price la moyenne
    return(predicted_price)

In [18]:
# test_df['accommodates'].apply(lambda x: predict_price(x))

In [19]:
test_df['predicted_price'] = test_df['accommodates'].apply(lambda x: predict_price(x))

In [20]:
test_df.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,predicted_price
4465,96%,NaN,28.0,48.89318,2.31884,Paris,75017,Paris province,2,Entire home/apt,0.0,1.0,1.0,63.0,$100.00,$400.00,14,180,61,90.4
3154,100%,NaN,2.0,48.85114,2.29728,Paris,75015,Île-de-France,5,Entire home/apt,1.0,1.0,4.0,120.0,$50.00,$200.00,1,120,102,176.8
1969,65%,NaN,93.0,48.85134,2.33359,Paris,75006,Île-de-France,3,Entire home/apt,1.0,1.0,2.0,149.0,$60.00,$600.00,30,1125,5,96.2
2713,NaN,NaN,1.0,48.87320,2.38649,Paris,75020,Île-de-France,4,Entire home/apt,2.0,1.0,1.0,79.0,$65.00,$299.00,2,1125,5,173.0
5578,100%,NaN,1.0,48.85691,2.36013,Paris,75004,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,51.0,$25.00,$150.00,4,15,17,90.4