# Le Machine Learning #

### Installation des bibliothèques nécessaires ###

In [1]:
#pip install scipy
#pip install scikit-learn
#pip install seaborn

In [2]:
import pandas as pd
import numpy as np

In [3]:
airbnb = pd.read_csv('paris_airbnb.csv')

In [4]:
airbnb

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,100%,NaN,2.0,48.87901,2.29526,Paris,75017,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$55.00,$45.00,$400.00,150,1125,0
7996,NaN,NaN,1.0,48.88903,2.35271,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$60.00,$20.00,$100.00,3,1125,4
7997,100%,NaN,1.0,48.85313,2.34146,Paris,75006,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$60.00,$30.00,$0.00,2,10,25
7998,NaN,NaN,1.0,48.88066,2.33639,Paris,75009,Île-de-France,2,Entire home/apt,NaN,1.0,1.0,$58.00,NaN,$200.00,3,9,57
7999,100%,NaN,2.0,48.85760,2.39946,Paris,75020,Île-de-France,6,Entire home/apt,1.0,1.0,3.0,$40.00,$35.00,$300.00,4,1125,49

In [5]:
airbnb[0:10]

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0
5,100%,NaN,1.0,48.86227,2.37134,Paris,75011,Ile-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$20.00,$250.00,5,120,17
6,NaN,NaN,4.0,48.88902,2.34656,Paris,75018,Ile-de-France,4,Entire home/apt,NaN,1.0,1.0,$80.00,$36.00,$800.00,90,730,42
7,NaN,NaN,4.0,48.88918,2.34490,Paris,75018,Ile-de-France,3,Entire home/apt,NaN,1.0,1.0,$75.00,NaN,$400.00,30,730,16
8,100%,NaN,1.0,48.87900,2.31608,Paris,75008,Ile-de-France,4,Entire home/apt,1.0,1.0,2.0,$90.00,$60.00,$600.00,3,730,40
9,100%,NaN,2.0,48.84670,2.35095,Paris,75005,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$75.00,NaN,NaN,2,1125,336

In [7]:
#methode iloc pour prendre la position de 0 à 10
airbnb.iloc[0:10]

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0
5,100%,NaN,1.0,48.86227,2.37134,Paris,75011,Ile-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$20.00,$250.00,5,120,17
6,NaN,NaN,4.0,48.88902,2.34656,Paris,75018,Ile-de-France,4,Entire home/apt,NaN,1.0,1.0,$80.00,$36.00,$800.00,90,730,42
7,NaN,NaN,4.0,48.88918,2.34490,Paris,75018,Ile-de-France,3,Entire home/apt,NaN,1.0,1.0,$75.00,NaN,$400.00,30,730,16
8,100%,NaN,1.0,48.87900,2.31608,Paris,75008,Ile-de-France,4,Entire home/apt,1.0,1.0,2.0,$90.00,$60.00,$600.00,3,730,40
9,100%,NaN,2.0,48.84670,2.35095,Paris,75005,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$75.00,NaN,NaN,2,1125,336

In [12]:
#methode head pour afficher par défaut les 5 premières lignes ou 2 lignes comme di-dessous
airbnb.head()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0

In [13]:
#methode head pour afficher par défaut les 5 premières lignes ou 2 lignes comme di-dessous
airbnb.head(2)

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173

In [15]:
#methode tail pour afficher par défaut les 5 dernières lignes ou 2 lignes comme di-dessous
airbnb.tail()

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
7995,100%,NaN,2.0,48.87901,2.29526,Paris,75017,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$55.00,$45.00,$400.00,150,1125,0
7996,NaN,NaN,1.0,48.88903,2.35271,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$60.00,$20.00,$100.00,3,1125,4
7997,100%,NaN,1.0,48.85313,2.34146,Paris,75006,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$60.00,$30.00,$0.00,2,10,25
7998,NaN,NaN,1.0,48.88066,2.33639,Paris,75009,Île-de-France,2,Entire home/apt,NaN,1.0,1.0,$58.00,NaN,$200.00,3,9,57
7999,100%,NaN,2.0,48.85760,2.39946,Paris,75020,Île-de-France,6,Entire home/apt,1.0,1.0,3.0,$40.00,$35.00,$300.00,4,1125,49

In [16]:
#methode tail pour afficher par défaut les 5 dernières lignes ou 2 lignes comme di-dessous
airbnb.tail(2)

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
7998,NaN,NaN,1.0,48.88066,2.33639,Paris,75009,Île-de-France,2,Entire home/apt,NaN,1.0,1.0,$58.00,NaN,$200.00,3,9,57
7999,100%,NaN,2.0,48.85760,2.39946,Paris,75020,Île-de-France,6,Entire home/apt,1.0,1.0,3.0,$40.00,$35.00,$300.00,4,1125,49

In [18]:
#methode info pour afficher le nom des colonnes et les nombres de valeurs non nulles et le type de données
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   host_response_rate    5000 non-null   object
 1   host_acceptance_rate  0 non-null      float64
 2   host_listings_count   7999 non-null   float64
 3   latitude              8000 non-null   float64
 4   longitude             8000 non-null   float64
 5   city                  7997 non-null   object
 6   zipcode               7930 non-null   object
 7   state                 7977 non-null   object
 8   accommodates          8000 non-null   int64
 9   room_type             8000 non-null   object
 10  bedrooms              7976 non-null   float64
 11  bathrooms             7942 non-null   float64
 12  beds                  7986 non-null   float64
 13  price                 8000 non-null   object
 14  cleaning_fee          6250 non-null   object
 15  security_deposit      6320 non-null   object
 16  minimum_nights        8000 non-null   int64
 17  maximum_nights        8000 non-null   int64
 18  number_of_reviews     8000 non-null   int64
dtypes: float64(7), int64(4), object(8)
memory usage: 1.2+ MB

In [23]:
#obtenir une serie
airbnb['beds']

0       0.0
1       1.0
2       2.0
3       1.0
4       1.0
       ...
7995    1.0
7996    2.0
7997    1.0
7998    1.0
7999    3.0
Name: beds, Length: 8000, dtype: float64

In [22]:
#obtenir son type de serie
type(airbnb['beds'])

pandas.core.series.Series

In [25]:
#obtenir un dataframe
airbnb[['beds', 'bedrooms']]

      beds  bedrooms
0      0.0       0.0
1      1.0       0.0
2      2.0       2.0
3      1.0       1.0
4      1.0       1.0
...    ...       ...
7995   1.0       0.0
7996   2.0       1.0
7997   1.0       1.0
7998   1.0       NaN
7999   3.0       1.0

[8000 rows x 2 columns]

In [26]:
#obtenir son type de dataframe
type(airbnb[['beds', 'bedrooms']])

pandas.core.frame.DataFrame

In [28]:
#méthode mean pour obtenir la moyenne sur la dataframe
airbnb[['beds', 'bedrooms']].mean()

beds        1.753068
bedrooms    1.248370
dtype: float64

In [31]:
#méthode mean pour obtenir la moyenne sur la serie avec numpy -> np
np.mean(airbnb['beds'])

1.753067868770348

In [33]:
#retourner une liste de toutes les colonnes float et l'attribuer à la variable airbnb_cols
airbnb_cols = airbnb.select_dtypes(include=['float']).columns.to_list()

In [34]:
for col in airbnb_cols:
    print(col)

host_acceptance_rate
host_listings_count
latitude
longitude
bedrooms
bathrooms
beds

In [41]:
#retourner les moyennes des colonnes float
for col in airbnb_cols:
    calc_mean = np.mean(airbnb[col])
    print('moyenne de la colonne ' + col + ':', calc_mean)

moyenne de la colonne host_acceptance_rate: nan
moyenne de la colonne host_listings_count: 7.025878234779348
moyenne de la colonne latitude: 48.864560402500004
moyenne de la colonne longitude: 2.3487392574999997
moyenne de la colonne bedrooms: 1.248370110330993
moyenne de la colonne bathrooms: 1.12849408209519
moyenne de la colonne beds: 1.753067868770348

In [43]:
#fonction pour diviser en 2 le dataframe
def split_func(df):
    df1 = df.loc[0:len(df)/2] #1er dataframe de 0 à la moitiè
    df2 = df.loc[len(df)/2:]  #2ème dataframe de la moitié à la fin
    return(df1, df2)

airbnb1, airbnb2 = split_func(airbnb) #On divise en 2 le dataframe

In [44]:
airbnb1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   host_response_rate    2845 non-null   object
 1   host_acceptance_rate  0 non-null      float64
 2   host_listings_count   4000 non-null   float64
 3   latitude              4001 non-null   float64
 4   longitude             4001 non-null   float64
 5   city                  3999 non-null   object
 6   zipcode               3975 non-null   object
 7   state                 3983 non-null   object
 8   accommodates          4001 non-null   int64
 9   room_type             4001 non-null   object
 10  bedrooms              3983 non-null   float64
 11  bathrooms             3944 non-null   float64
 12  beds                  3988 non-null   float64
 13  price                 4001 non-null   object
 14  cleaning_fee          3255 non-null   object
 15  security_deposit      3330 non-null   object
 16  minimum_nights        4001 non-null   int64
 17  maximum_nights        4001 non-null   int64
 18  number_of_reviews     4001 non-null   int64
dtypes: float64(7), int64(4), object(8)
memory usage: 594.0+ KB

In [45]:
#fonction pour ajouter 100 à toutes les colonnes
def add_hundred(x):
    return x+100

airbnb[airbnb_cols].apply(add_hundred)

,host_acceptance_rate,host_listings_count,latitude,longitude,bedrooms,bathrooms,beds
0,NaN,101.0,148.83349,102.31852,100.0,101.0,100.0
1,NaN,101.0,148.85100,102.35869,100.0,101.0,101.0
2,NaN,102.0,148.85758,102.35275,102.0,101.0,102.0
3,NaN,101.0,148.86528,102.39326,101.0,101.0,101.0
4,NaN,103.0,148.85899,102.34735,101.0,101.0,101.0
...,...,...,...,...,...,...,...
7995,NaN,102.0,148.87901,102.29526,100.0,101.0,101.0
7996,NaN,101.0,148.88903,102.35271,101.0,101.0,102.0
7997,NaN,101.0,148.85313,102.34146,101.0,101.0,101.0
7998,NaN,101.0,148.88066,102.33639,NaN,101.0,101.0
7999,NaN,102.0,148.85760,102.39946,101.0,101.0,103.0

In [46]:
#on utilise la fonction lambda pour ajouter 300 à chaque colonne
airbnb[airbnb_cols].apply(lambda x: x+300)

,host_acceptance_rate,host_listings_count,latitude,longitude,bedrooms,bathrooms,beds
0,NaN,301.0,348.83349,302.31852,300.0,301.0,300.0
1,NaN,301.0,348.85100,302.35869,300.0,301.0,301.0
2,NaN,302.0,348.85758,302.35275,302.0,301.0,302.0
3,NaN,301.0,348.86528,302.39326,301.0,301.0,301.0
4,NaN,303.0,348.85899,302.34735,301.0,301.0,301.0
...,...,...,...,...,...,...,...
7995,NaN,302.0,348.87901,302.29526,300.0,301.0,301.0
7996,NaN,301.0,348.88903,302.35271,301.0,301.0,302.0
7997,NaN,301.0,348.85313,302.34146,301.0,301.0,301.0
7998,NaN,301.0,348.88066,302.33639,NaN,301.0,301.0
7999,NaN,302.0,348.85760,302.39946,301.0,301.0,303.0